
.center {
  display: block;;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
}

.table {
  border-collapse: collapse;
  margin-left: 25%;
  margin-right: 25%;
}

.table, th, td {
  border: 1px solid black;
  text-align: center;
}
