.icon{
  width: auto;
  display: inline-block;
}

.productList{
  width: 100%;
  text-align: center;
}

.productDetail{
  width: 100%;
  text-align: center;
}
.productDetailDisplay{
  display: inline-block;
}


.productDetailLeft{
  width: 40%;
  height: 500px;
  float: left;
}

.productDetailRight{
  width: 50%;
  height: 500px;
  float: right;
}
